<div class="flex flex-col justify-stretch p-10">
  <div class="p-10 bg-base-100 rounded-lg text-secondary">
    <!-- 問題文 背景みどり -->
    <div class="bg-primary rounded-lg text-secondary">
      <div class="flex flex-row p-10">
        <p class="text-lg font-bold"><%= @locations[0].name %></p>
        <p class="text-base">から</p>
        <p class="text-lg font-bold"><%= @locations[1].name %></p>
        <p class="text-base">までの距離は</p>
        <p class="text-base">何kmあるでしょう？</p>
      </div>
    </div>
    <br>

    <!-- 解答選択部分 背景みどり -->
    <div class="bg-primary rounded-lg text-secondary">
      <div class="flex flex-row p-5 m-5">
        <div id="choices">
          <% @choices.each do |choice| %>
            <button class="btn text-secondary font-bold bg-base-100 m-3">
              <%= choice %>km
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
