<div class="flex flex-col min-h-screen bg-base-100 text-text-color">
  <!-- TOP画像を水平に中央揃え padding(内)10 -->
  <div class="flex justify-center p-10">
    <%= image_tag "top.jpg" %>
  </div>

  <br><br><br>

  <section class="mt-10 p-10 bg-primary rounded-lg text-secondary">
    <h2 class="text-2xl text-text-color mb-8">サービスの説明</h2>
    <p class="mb-4">
      <li>文章1</li>
    </p>
    <p class="mb-4">
      <li>文章2</li>
    </p>
    <p class="mb-4">
      <li>文章3</li>
    </p>
  </section>

  <br><br>

  <button class="btn btn-primary text-secondary">
    <%= link_to "クイズに挑戦！", new_quiz_path %>
  </button>

</div>
