<div class="flex flex-col min-h-screen bg-base-100 text-text-color">
  <!-- TOP画像を水平に中央揃え padding(内)10 -->
  <div class="flex justify-center p-10">
    <%= image_tag "top.jpg" %>
  </div>

  <br><br><br>

  <section class="mt-10 p-10 bg-primary rounded-lg text-secondary">
    <h2 class="text-2xl text-text-color mb-8">このサービスでできること</h2>
    <p class="mb-4">
      <li>お出かけ先・旅行先など、馴染みのない土地における大体の目的地までの移動距離を、自宅等の馴染みのある土地と比較して、距離感を確認するためのアプリです。</li>
    </p>
    <p class="mb-4">
      <li>旅行先の出発地と目的地の距離を比較し、ユーザーが距離感を掴みやすくすることを目的としています。</li>
    </p>
    <p class="mb-4">
      <li>視覚的な地図表示を用いて、ユーザーにとってわかりやすい情報提供を行います。</li>
    </p>
  </section>

  <br><br>

  <button class="btn btn-primary text-secondary">
    <%= link_to "比べてみる！", new_route_path %>
  </button>

</div>
