<div class="flex flex-col min-h-screen bg-base-100">
  <!-- TOP画像を水平に中央揃え padding(内)10 -->
  <div class="flex justify-center py-10">
    <%= image_tag "top.jpg" %>
  </div>

  <br>

  <section class="m-10 p-10 bg-primary rounded-lg text-secondary">
    <p class="mb-4">
      <ul>ランダムで表示される2地点間の距離に最も近いを数字を</ul>
    </p>
    <p class="mb-4">
      <ul>3つの選択肢から選んでね!</ul>
    </p>
  </section>

    <button class="btn btn-primary text-secondary m-10 mx-auto p-10">
      <%= link_to "シンプルモードに挑戦！", new_simple_mode_quiz_path %>
    </button>

    <button class="btn btn-primary text-secondary m-10 mx-auto p-10">
      <%= link_to "チャレンジモードに挑戦！", start_challenge_mode_quizzes_path %>
    </button>

    <button class="btn btn-primary text-secondary m-10 mx-auto p-10">
      <%= link_to "チャレンジモードのランキングを見る", challenge_mode_ranking_path %>
    </button>
</div>
