<div class="navbar bg-primary">
  <div class="flex-1">
		<%= link_to '/', class: 'navbar-brand' do %>
      <%= image_tag 'logo.jpg' %>
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal space-x-4">
      <li>
        <button class="btn btn-neutral bg-base-100 text-secondary">
          <%= link_to t('shared.before_login_header.login'), login_path, class: "nav-link"%>
        </button>
      </li>
      <li>
        <button class="btn btn-neutral bg-base-100 text-secondary">
          <%= link_to t('shared.before_login_header.create_user'), new_user_path, class: "nav-link"%>
        </button>
      </li>
    </ul>
  </div>
</div>