<footer class="footer footer-center p-5 bg-primary text-secondary rounded">
  <nav class="grid gap-1 nav-links md:flex md:justify-center">
    <%= link_to "利用規約", terms_of_service_path, class: "text-secondary hover:text-base-100 border border-primary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 nav-item" %>
    <%= link_to "プライバシーポリシー", "https://kiyac.app/privacypolicy/XxakzkL5Hxiv01Ka9WOG", class: "text-secondary hover:text-base-100 border border-primary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 nav-item" %>
    <%= link_to "お問い合わせ", 'https://forms.gle/9wfMu9mwDbqaEvqH9', class: "text-secondary hover:text-base-100 border border-primary hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 nav-item" %>
  </nav>

  <nav class="my-2">
    <div class="grid grid-flow-col gap-1 social-icons justify-center">
      <a href="https://x.com/kin_doo_nichi" target="_blank" class="text-2xl">
        <i class="fa-brands fa-x-twitter hover:text-base-100 border border-primary hover:bg-secondary rounded-lg p-3"></i>
      </a>
      <a href="https://github.com/miki-hayashi-71" target="_blank" class="text-2xl">
        <i class="fa-brands fa-github hover:text-base-100 border border-primary hover:bg-secondary rounded-lg p-3"></i>
      </a>
    </div>
  </nav>
  <aside class="mt-1">
    <p>&copy; 2024 距離感どのくらい？</p>
  </aside>
</footer>
