<div class="navbar bg-primary">
  <div class="flex-1">
		<%= link_to '/', class: 'navbar-brand' do %>
      <%= image_tag 'logo.jpg' %>
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal space-x-4">
      <li>
        <button class="btn btn-neutral bg-base-100 text-secondary">
          <%= link_to t('shared.header.mypage'), mypage_path, class: "nav-link"%>
        </button>
      </li>
      <li>
        <button class="btn btn-neutral bg-base-100 text-secondary">
          <%= link_to t('shared.header.logout'), logout_path, id: "logout-link", class: "nav-link", data: { turbo_method: :delete }%>
        </button>
      </li>
    </ul>
  </div>
</div>