<div class="flex flex-col min-h-screen bg-base-100">
  <div class="p-10 bg-base-100">
    <!-- 問題文 背景みどり -->
    <div class="bg-primary rounded-lg text-secondary">
      <div class="flex flex-col p-10">
          <h1 class="text-3xl font-bold mb-4">チャレンジモードを開始しますか？</h1>
          <p>チャレンジモードでは10問のクイズに挑戦し、全問の正答数を記録します。</p>
          <p>準備ができたら、以下のボタンをクリックしてクイズを開始してください。</p>

        <div class="flex flex-row justify-center p-5 m-8">
        <button class="btn text-secondary font-bold bg-base-100 m-3">
          <%= link_to 'クイズを開始する', new_challenge_mode_quiz_path, class: "nav-link"%>
        </button>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>
